
.footer{

  display: block;
  flex-direction: column;

  padding-top: 1vh;

}

#container {

  padding: clamp(1vw, 3vw, 3vw);

}

@media (max-width: 767px) {

  #container {

    padding: 6vh 5vw;

    margin: 0 10vw;

  }  

}

@media (orientation: landscape) {

  #container {

    padding: 12vh 3vw;

    margin: 4vw 0;

  }    

}