
.footer{

  display: block;
  flex-direction: column;

  padding-top: 1vh;

}

#container {
  
  padding: clamp(1vw, 5vw, 10vw);

}

@media (max-width: 767px) {

  #container {

    padding: 6vh 5vw;
     

  }  

}

@media ((max-width: 1023px) and (orientation: landscape)) {

  #container {

    padding: auto 3vw;

    margin: 10vh 0;

  }    

}