
.footer{

  display: block;
  flex-direction: column;

  padding-top: 1vh;

}

#container {
  
  padding: clamp(5vh, 8vw,10vh);

}

@media (max-width: 767px) {

  #container {

    padding: 4vh clamp(1vh, 5vw, 10vh);
     

  }  

}

@media ((max-width: 1023px) and (orientation: landscape)) {

  #container {

    padding: auto 3vw;

    margin: 10vh 0;

  }    

}