
.text-container{

    height: clamp(5vh, 12vh, 50vh);
    user-select: none;

}

.text {

    font-family: 'Poppins-ExtraBoldItalic';
    font-size: clamp(1vh, 12vh, 20vh);

}

@media (max-width: 767px) {

    .text-container{

        height: clamp(1vh, 14vw, 50vh);
    
    }


    .text{

        font-size: clamp(1vh, 12vw, 100vh);

    }

}

@media (orientation: portrait ) and (min-width: 768px) and (max-width: 1023px){
    .text-container{

        height: clamp(1vh, 14vw, 50vh);
    }

    .text {

        font-size: clamp(1vh, 12vw, 100vh);

    }
}

@media (orientation: landscape ) and (max-width: 1023px){
    .text-container{

        height: clamp(1vh, 14vw, 50vh);
    }

    .text {

        font-size: clamp(1vh, 12vw, 100vh);

    }
}
