
.text-container{

    height: clamp(1vh, 9vw, 10vh);
    user-select: none;

}

.text {

    font-family: 'Poppins-ExtraBoldItalic';
    font-size: clamp(1vh, 7vw, 10vh);

}

@media (max-width: 767px) {

    .text-container{

        height: clamp(3vh, 11vw, 50vh);
    
    }


    .text{

        font-size: clamp(1vh, 12vw, 100vh);

    }

}

@media only screen and (orientation: landscape ) and (max-width: 1023px){
    .text-container{

        height: clamp(15vh, 12vw, 50vh);
    }

    .text {

        font-size: clamp(1vh, 12vw, 100vh);

    }
}
